select,
input,
textarea,
button,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: Menlo, Monaco,  'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    font-size: 14px;
    color:#d4d4d4;
}
span{
    cursor:default;
}
input,
textarea,
[contenteditable] {
  caret-color:#06ff5e;
}
::selection {
    color: #33ff00;
    background-color: #ff7575; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    color: #33ff00;
    background-color: #ff7575; /* Gecko Browsers */
  }
.hide {
    font: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
  }
.indent{
    margin-left:2em;
}
.dark{
    color:#1e1e1e;
}
.dark-bg{
    background-color:#1e1e1e;
}
.grey{
    color:#d4d4d4;
}
.purple{
    color:#ed7be7;
}
.blue{
   color:#ace4ff;
}
.orange{
    color:#ffac8c;
}
.green{
    color:#badea5;
}
body {
    background-color: #eee;
}

/* container */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#2b2b2b;
}

/* wrapper */
.wrapper {
    background-color:#1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 85vw;
    max-width: 1000px;
}

/* section */
.section {
    width: 100%;
    margin-bottom: 10px;
}

.section:last-child {
    margin-bottom: 0;
}

.section-title {
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: bold;
}

.inner-section {
    display: flex;
    flex-direction: row;
}

.inner-section.is-column {
    flex-direction: column;
}

.inner-section.is-wrapped {
    flex-wrap: wrap;
}

/* input buttons */
.input-button {
    display: inline-block;
    padding: 5px 10px;
    /* border: 1px solid #000; */
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    text-transform: capitalize
}

.input-button.dark {
    background-color: #ddd;
}

.input-button.dark:hover {
    background-color: #eee;
}

.input-button:last-child {
    margin: 0;
}

.input-button:hover {
    background-color: #ddd;
}

.input-button.primary {
    background-color: #1d1d1d;
    color: white;
    transform:scale(0.97);
}

.input-button.primary:hover {
    transition: 0.2s ease-in-out;
    color: white;
    background-color: #3e3e3e;
    transform:scale(1);
}

/* text and textarea inputs */
.input-text, .input-textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.input-text:focus, .input-textarea:focus {
    border: 1px solid gray;
}


/* test elements */
#form-wrapper {
    margin-bottom: 10px;
}

input[name="templateGroupName"]{
    padding-bottom:5px;
    border-bottom: 0.5px dotted;
}