select,
input,
textarea,
button,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: Menlo, Monaco,  'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    font-size: 14px;
    color:#d4d4d4;
}
span{
    cursor:default;
}
input,
textarea,
[contenteditable] {
  caret-color:#06ff5e;
}
::selection {
    color: #33ff00;
    background-color: #ff7575; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    color: #33ff00;
    background-color: #ff7575; /* Gecko Browsers */
  }
.hide {
    font: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
  }
.indent{
    margin-left:2em;
}
.dark{
    color:#1e1e1e;
}
.dark-bg{
    background-color:#1e1e1e;
}
.grey{
    color:#d4d4d4;
}
.purple{
    color:#ed7be7;
}
.blue{
   color:#ace4ff;
}
.orange{
    color:#ffac8c;
}
.green{
    color:#badea5;
}
body {
    background-color: #eee;
}

/* container */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#2b2b2b;
}

/* wrapper */
.wrapper {
    background-color:#1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 85vw;
    max-width: 1000px;
}

/* section */
.section {
    width: 100%;
    margin-bottom: 10px;
}

.section:last-child {
    margin-bottom: 0;
}

.section-title {
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: bold;
}

.inner-section {
    display: flex;
    flex-direction: row;
}

.inner-section.is-column {
    flex-direction: column;
}

.inner-section.is-wrapped {
    flex-wrap: wrap;
}

/* input buttons */
.input-button {
    display: inline-block;
    padding: 5px 10px;
    /* border: 1px solid #000; */
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    text-transform: capitalize
}

.input-button.dark {
    background-color: #ddd;
}

.input-button.dark:hover {
    background-color: #eee;
}

.input-button:last-child {
    margin: 0;
}

.input-button:hover {
    background-color: #ddd;
}

.input-button.primary {
    background-color: #1d1d1d;
    color: white;
    transform:scale(0.97);
}

.input-button.primary:hover {
    transition: 0.2s ease-in-out;
    color: white;
    background-color: #3e3e3e;
    transform:scale(1);
}

/* text and textarea inputs */
.input-text, .input-textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.input-text:focus, .input-textarea:focus {
    border: 1px solid gray;
}

/* size checkboxes */
.size-checkbox-wrapper {
    display: flex;
    min-width: 110px;
}

.size-label-wrapper {
    display: flex;
}

.size-input-checkbox {
    margin-right: 5px;
}

.size-label-wrapper {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

/* preview link wrapper */
.preview-link-wrapper {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.preview-link-wrapper:hover .name-buttons-wrapper{
    background-color: #eee;
}

.close-preview-button {
    display: none;
}

/* link name */

.link-name-checkbox {
    margin-right: 10px;
}

.name-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.name-buttons-wrapper.active {
    background-color: #eee;
}

/* preview buttons */
.single-preview-buttons {
    pointer-events: none;
    opacity: 0;
}

.preview-link-wrapper:hover .single-preview-buttons {
    pointer-events: all;
    opacity: 1;
}

/* copy link elements */
#copy-textarea-wrapper {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

#copy-link-section {
    margin: 0;
}

#copy-textarea-wrapper {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    background-color: #9f9f9f;
    border-radius: 10px;
}

#copy-link-text {
    color: #fff;
}

#copy-link-textarea {
    opacity: 0;
    pointer-events: none;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
}

/* creative preview wrapper */
.creative-preview-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    background-color: #FFF;
}

.creative-iframe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
}

.creative-iframe {
    border: none;
}

.replay-creative-button {
    text-align: center;
    margin: 10px 0 0 0 !important;
}

/* test elements */
#form-wrapper {
    margin-bottom: 10px;
}

#link-wrapper {
    background-color: #FFF;
}

#overlay-container-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: start;
    overflow: scroll;

    opacity: 0;
    pointer-events: none;

}

#overlay-preview-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}


#close-section {
    display: flex;
    justify-content: flex-end;
}

#close-overlay-button {
    width: 15px;
    height: 15px;
    background-image: url(close.svg);
}